body {
  font-family: Arial;
}

.orders-container {
  margin-top: 20px;
}

.order {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
  width: 500px;
}

.pending {
  color: orange;
}

.dispatched {
  color: green;
}

.cancelled {
  color: red;
}
