
.search-bar-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 20px;
  align-items: center;
}

.product-array {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  padding: 30px;
  padding-left: 100px;
}


.product-card {
  border: 2px solid #ccc;
  padding: 10px;
  background: #fff;
  width: 300px;
}

.product-card.low-stock {
  border-color: red;
}

.search-bar {
  width: 300px;
  padding: 8px;
  font-size: 16px;
}
