.register-container{
  font-family: Arial;
  background: #f4f4f4;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box { 
  background:white; 
  padding:30px; 
  width:300px; 
  border-radius:8px; 
}
input, button { 
  width:100%; 
  margin:10px 0; 
  padding:8px; 
}